<!-- Contact -->
<section id="contact">
	<div class="inner">

		<section class="split">
	
			
		</section>
	</div>
</section>

<!-- Footer -->
	<footer id="footer">

		<div class="inner">
			<a href="https://tibcert.org" target="_blank"><img src="/assets/tibcert-200.svg" width="150"></a>
		</div>
		<div class="inner">
			<ul>
				<label>Website Links</label>
				<li><a href="https://tibcert.org/threat-story/#">tibcert.org</a></li>
				<li><a href="https://blog.tibcert.org/">blog.tibcert.org</a></li>
				<li><a href="https://tibetaction.net/">tibetaction.net</a></li>

			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
